In [18]:
import pandas as pd

data = pd.read_csv('release_dates.csv',index_col='date',parse_dates=True)
data.head()

after20 = data[['title','year']][data['year'] > 2010]
after20

                             title  year
date
2015-01-29                 #Beings  2015
2018-01-21               #Declimax  2018
2015-01-21  #Ewankosau saranghaeyo  2015
2015-11-20                 #Horror  2015
2016-05-16                 #Horror  2015
...                            ...   ...
2013-10-16                    Boss  2013
2013-08-09               Boss (II)  2013
2011-10-07         Boss Number One  2011
2016-09-13                Bossgiri  2016
2015-06-25                    Bota  2014

[11736 rows x 2 columns]